---
import PageLayout from '@/layouts/BaseLayout.astro'
import Button from '@/components/Button.astro'
import { activities } from '@/data/activities.tsx'
import Card from '@/components/Card.astro'
---

<PageLayout meta={{ title: 'Experience' }}>
	<div class='w-full'>
		<Button title='Back' href='/' style='button'>
			<svg
				xmlns='http://www.w3.org/2000/svg'
				width='14'
				height='14'
				viewBox='0 0 24 24'
				slot='icon-before'
			>
				<path
					fill='currentColor'
					d='m6.921 12.5l5.792 5.792L12 19l-7-7l7-7l.713.708L6.921 11.5H19v1z'
				>
				</path>
			</svg>
		</Button>

		<div class='mt-5 flex w-full flex-col gap-y-10'>
			<div>
				<h1 class='mb-1 text-2xl font-bold'>Activities ({activities.length})</h1>
				<p>activities that I have participated in to develop myself</p>
			</div>

			{
				activities.map((data) => (
					<Card
						heading={data.title}
						subheading={data.role}
						date={data.date}
						imagePath={data.imagePath}
						altText={data.title}
						multiple={data.multiple}
						multipleData={data?.multipleData}
            sourceCode={data?.sourceCode}
						result={data?.result}
						techStack={data?.techStack}
						imageClass='h-12 w-12 object-contain md:-left-16 rounded-xl'
					>
						<ul class='ml-4 list-disc text-muted-foreground'>
							{data?.desc?.map((data) => (
								<li>{data}</li>
							))}
						</ul>
					</Card>
				))
			}
		</div>
	</div>
</PageLayout>
