---
import PageLayout from '../layouts/BaseLayout.astro'
import Section from '../components/Section.astro'
import Card from '../components/Card.astro'
// import ProjectCard from '../components/ProjectCard.astro'
import Label from '../components/Label.astro'
import SkillLayout from '../components/SkillLayout.astro'

import { experiences } from '@/data/experiences.tsx'
import { contactInfo } from '@/data/contactInfo.tsx'
import { blogs } from '@/data/blogs.tsx'
import { activities } from '@/data/activities.tsx'

import { Image } from 'astro:assets'
import { Icon } from 'astro-icon/components'
import profile from '../assets/profile-picture.jpg'
const languages = ['Indonesia', 'English']
const frontend = ['HTML', 'Javascript', 'ReactJS', 'React Native', 'NextJS', 'Typescript']
const styling = ['CSS', 'SASS', 'Tailwind', 'Styled Components']
const others = ['Java']
---

<PageLayout meta={{ title: 'Home' }}>
	<div class='flex w-full flex-col gap-y-10'>
		<section class='flex flex-col items-center gap-y-7'>
			<Image
				src={profile}
				alt='profile photo'
				class='h-44 w-auto rounded-full bg-[#FFBE98] p-2'
				loading='eager'
			/>

			<div class='flex flex-col items-center gap-y-4'>
				<h1 class='text-3xl font-bold'>Mohammad Ali Rafli</h1>
				<div class='flex flex-wrap justify-center gap-x-7 gap-y-3'>
					{
						contactInfo.map((data) => {
							return data.disabled ? (
								<Label title={data.title}>
									<Icon name={data.icon} slot='icon' size={26} color='#CCCCCC' />
								</Label>
							) : (
								<Label title={data.title} as='a' href={data.href} target='_blank'>
									<Icon name={data.icon} slot='icon' size={26} color='#CCCCCC' />
								</Label>
							)
						})
					}
				</div>
			</div>
		</section>

		<Section title='About'>
			<p class='text-lg text-muted-foreground'>
				Hi! 👋 I'm <strong>Ali</strong>, a passionate <strong>front-end developer</strong> focusing on
				React.js, Next.js, and crafting responsive websites. My journey is about bringing creative ideas
				to life, ensuring every project is a step towards enhancing the web for everyone. I'm always
				on the lookout for the next exciting project where I can apply my skills and fuel my passion
				for development! 🚀
			</p>
		</Section>

		<Section title=`Experience (${experiences.length})`>
			{
				experiences.slice(0, 4).map((data) => (
					<Card
						heading={data.title}
						subheading={data.role}
						date={data.date}
						imagePath={data.imagePath}
						altText={data.title}
						multiple={data.multiple}
						imageClass='h-12 w-12 object-contain md:-left-16 rounded-xl'
					>
						<ul class='ml-4 list-disc text-muted-foreground'>
							{data?.desc?.map((data) => (
								<li>{data}</li>
							))}
						</ul>
					</Card>
				))
			}

			{
				experiences.length > 4 && (
					<Card
						heading={`See More (+${experiences.length - 4})`}
						headingCenter
						href='/experience'
						as='a'
					/>
				)
			}
		</Section>

		<Section title=`Activities (${activities.length})`>
			{
				activities.slice(0, 4).map((data) => (
					<Card
						heading={data.title}
						subheading={data.role}
						date={data.date}
						imagePath={data.imagePath}
						altText={data.title}
						multiple={data.multiple}
						multipleData={data?.multipleData}
						sourceCode={data?.sourceCode}
						result={data?.result}
						techStack={data?.techStack}
						imageClass='h-12 w-12 object-contain md:-left-16 rounded-xl'
					>
						<ul class='ml-4 list-disc text-muted-foreground'>
							{data?.desc?.map((data) => (
								<li>{data}</li>
							))}
						</ul>
					</Card>
				))
			}

			{
				activities.length > 4 && (
					<Card
						heading={`See More (+${activities.length - 4})`}
						headingCenter
						href='/experience'
						as='a'
					/>
				)
			}
		</Section>

		<!-- <Section title='Projects'>
			<div class='grid grid-cols-1 gap-6 sm:grid-cols-2'>
				<ProjectCard
					href='https://www.google.com'
					heading='Consectetur'
					subheading='Lorem ipsum dolor sit amet consectetur adipisicing elit.'
					imagePath='/src/assets/coming-soon.png'
					altText='Example'
				/>
				<ProjectCard
					as='div'
					heading='Coming soon...'
					subheading=''
					imagePath='/src/assets/coming-soon.png'
					altText='Lorem, ipsum dolor sit'
				/>
			</div>
		</Section> -->

		<!-- <Section title='Certifications'>
			<Card
				as='a'
				heading='Lorem ipsum, dolor sit amet consectetur adipisicing.'
				subheading='Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam dicta magni consequuntur corrupti.'
				date='Mar 2024 - Mar 2024'
				imagePath='/src/assets/about-astro.png'
				altText='Lorem, ipsum dolor sit'
				imageClass='h-11 w-auto md:-left-16'
				href='https://www.google.com'
			/>
			<Card
				as='a'
				heading='Lorem ipsum, dolor sit amet'
				subheading='Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam dicta.'
				date='Mar 2029 - Mar 2032'
				imagePath='/src/assets/about-astro.png'
				altText='Lorem, ipsum dolor sit'
				imageClass='h-11 w-auto md:-left-16'
				href='https://www.google.com'
			/>
		</Section> -->

		<Section title='Education'>
			<Card
				heading='Brawijaya University'
				subheading='Bachelor of Information Technology - GPA 3.76/4.00'
				date='Dec 2020 - Feb 2024'
				imagePath='/src/assets/brawijaya-logo.png'
				altText='Lorem, ipsum dolor sit'
				imageClass='h-12 w-auto md:-left-16'
			>
				<p>Relevant Coursework</p>
				<ul class='ml-4 list-disc text-muted-foreground'>
					<li>Software Engineering</li>
					<li>Algorithms</li>
					<li>Databases</li>
					<li>System Design</li>
					<li>Website</li>
				</ul>
			</Card>
		</Section>

		<Section title=`Blogs (${blogs.length})`>
			{
				blogs.map((data) => (
					<Card heading={data.title} date={data.date} as='a' target='_blank' href={data.href} />
				))
			}
		</Section>

		<Section title='Skills'>
			<SkillLayout title='Languages' skills={languages} />
			<SkillLayout title='Frontend' skills={frontend} />
			<SkillLayout title='CSS Styling' skills={styling} />
			<SkillLayout title='Tech' skills={others} />
		</Section>
	</div>
</PageLayout>
